<!-- Side Navbar -->
<nav class="side-navbar">
	<div class="side-navbar-wrapper">
		<!-- Sidebar Header    -->
		<div class="sidenav-header d-flex align-items-center justify-content-center">
			<!-- User Info-->
			<div class="sidenav-header-inner text-center"><img src="https://cdn2.iconfinder.com/data/icons/animals-nature-2/50/1F984-unicorn-512.png" alt="person" class="img-fluid rounded-circle">
				<h2 class="h5">A-Team</h2>
			</div>
			<!-- Small Brand information, appears on minimized sidebar-->
			<div class="sidenav-header-logo"><a href="index.html" class="brand-small text-center">
					<strong>B</strong><strong class="text-primary">D</strong></a></div>
		</div>



		<!-- Sidebar Navigation Menus-->
		<div class="main-menu">
			<h5 class="sidenav-heading">MAIN</h5>
			<ul id="side-main-menu" class="side-menu list-unstyled">
				<li><a href="#exampledropdownDropdown" data-toggle="collapse">
						Dashboards<i class="fas fa-angle-down"></i> </a>
					<ul id="exampledropdownDropdown" class="collapse show list-unstyled ">
            <li> <a routerLinkActive="active" routerLink="/hero1"> <i class="fas fa-paw"></i>Hero 1</a> </li>
         <li> <a routerLinkActive="active" routerLink="/hero2"> <i class="fas fa-paw"></i>Hero 2</a> </li>

            <!-- <li> <a routerLinkActive="active" routerLink="/dashboard1"> <i class="fas fa-paw"></i>Dashboard 1</a> </li> -->
						<li> <a routerLinkActive="active" routerLink="/dashboard2"> <i class="fa fa-bar-chart"></i>Dashboard 2</a> </li>
            <li> <a routerLinkActive="active" routerLink="/dashboard3"> <i class="fas fa-grip-horizontal"></i>Dashboard 3</a> </li>

				
					</ul>
				</li>
				<!-- <li><a href="login.html"> <i class="fas fa-sign-in-alt"></i>Login page </a></li> -->
			</ul>
		</div>



		<hr />

		<!-- Sidebar Admin Menus-->
		<!-- <div class="admin-menu">
			<h5 class="sidenav-heading">Admin menu</h5>
			<ul id="side-admin-menu" class="side-menu list-unstyled">
				<li> <a href="#"> <i class="icon-screen"> </i>Demo</a></li>
				<li> <a href="#"> <i class="icon-flask"> </i>Demo
						<div class="badge badge-info">Special</div></a></li>
				<li> <a href=""> <i class="icon-flask"> </i>Demo</a></li>
				<li> <a href=""> <i class="icon-picture"> </i>Demo</a></li>
			</ul>
		</div> -->
	</div>
</nav>