
/*
* ==========================================================
*      DASHBOARD COUNTS
* ==========================================================
*/
.dashboard-counts {
  color: #333;
}

.dashboard-counts .count-title span {
  font-size: 0.8em;
  color: #aaa;
  display: block;
}

.dashboard-counts .count-title i {
  font-size: 1.5em;
  color: #33b35a;
}

.dashboard-counts .icon {
  margin-right: 10px;
}

.dashboard-counts strong {
  font-size: 0.9em;
  font-weight: 500;
  color: #555;
  display: block;
}

.dashboard-counts .count-number {
  font-size: 2.2em;
  font-weight: 300;
}

/* DASHBOARD COUNTS MEDIAQUERIES ------------------------- */
@media (max-width: 991px) {
  .dashboard-counts div[class*='col-'] {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  .dashboard-counts strong {
    font-size: 1em;
  }
  .dashboard-counts span {
    font-size: 0.9em;
  }
  .dashboard-counts .count-number {
    font-size: 3em;
  }
}