
/*
* ==========================================================
*     POLAR CHART
* ==========================================================
*/
.polar-chart-example .chart-container {
  width: 500px;
  max-width: 100%;
  margin: 20px auto;
}

/*
* ==========================================================
*     PIE CHART
* ==========================================================
*/
.pie-chart-example .chart-container {
  width: 500px;
  max-width: 100%;
  margin: 20px auto;
}

/*
* ==========================================================
*     RADAR CHART
* ==========================================================
*/
.radar-chart-example .chart-container {
  width: 500px;
  max-width: 100%;
  margin: 20px auto;
}

/* CHARTS MEDIAQUERIES -------------------------- */
@media (min-width: 768px) {
  section.charts h2 {
    font-size: 1rem;
  }
}